@tailwind base;
@tailwind components;
@tailwind utilities;

.flare {
    position: fixed;
    border-radius: 50%;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: translate(-10%, -20%);
    z-index: 999999 !important ;
    backdrop-filter: blur(1px);
    background-color: #0000005e;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    cursor: none !important; /* Let's hide the default cursor so it looks way better */
  }
  
  /* We need to remove this custom cursor in mobile devices */
  @media screen and (max-width: 768px) {
    .flare {
      width: 0;
      height: 0;
      transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    }
  }
  .flare.pointer {
    opacity: 0 !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  /* Hide the default scrollbar */
  ::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(78, 18, 18);
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red;
  }
